/* NOT MODAL */
.container2 {
    display: none;
  }
  /* MODAL */
  .container {
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .modal {
    background-color: aliceblue;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    /* ANIMATION */
    animation: PopUp 2s;
  }
  @keyframes PopUp {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  .modal i {
    padding: 0;
    margin: 0;
    color: #39cc58;
    font-size: 5rem;
  }
  .header {
    color: #000;
  }
  .body {
    color: #000;
  }
  .footer {
  }
  /* From uiverse.io */
  .footer button {
    margin-bottom: 1rem;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .footer button:hover {
    background-color: #39cc58;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  .footer button:active {
    transform: translateY(-1px);
  }
  