.body {
    background-color: #fc3c74;
  }
  /* SECTION 1 */
  .section1 {
    width: 100%;
    margin: 3rem 0 5rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  /* SECTION 1 - ARTICLE 1 */
  .article1_s1 {
    padding: 1rem;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
    gap: 1rem;
  }
  .text1_a1_s1 {
    text-align: end;
  }
  .text1_a1_s1 h2 {
    font-size: xxx-large;
  }
  .text1_a1_s1 p {
    color: #fff;
    font-size: large;
  }
  .imageA1S1 {
    border-radius: 0.5rem;
  }
  /* SECTION 1 - ARTICLE 2 */
  .article2_s1 {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex-basis: 500px;
    gap: 1rem;
  }
  .text1_a2_s1 {
    /* flex-basis: 400px; */
    text-align: start;
  }
  .text1_a2_s1 h2 {
    color: #fff;
    font-size: xx-large;
  }
  .text1_a2_s1 p {
    font-size: large;
  }
  .imageA2S1 {
    border-radius: 0.5rem;
  }
  
  /* SECTION 2 */
  .section2 {
    color: #fff;
    height: 400px;
    margin: 0rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .section2:before {
    content: "";
    width: 100%;
    height: 400px;
    position: absolute;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    z-index: 1;
  }
  .backgroundS2 {
    z-index: 0;
  }
  /* SECTION 2 - ARTICLE 1 */
  .text1_a1_s2 {
    width: 35%;
    text-align: center;
    position: absolute;
    left: 6rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    z-index: 1;
  }
  .text1_a1_s2 h1 {
    font-size: 3rem;
  }
  .text1_a1_s2 p {
    font-size: 1.3rem;
  }
  /* SECTION 2 - ARTICLE 2 */
  .text1_a2_s2 {
    width: 35%;
    text-align: center;
    position: absolute;
    right: 6rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    z-index: 1;
  }
  .text1_a2_s2 h1 {
    font-size: 3rem;
  }
  .text1_a2_s2 p {
    font-size: 1.3rem;
  }
  /* SECTION 2 BACKGROUND IMAGE */
  .section2 figure {
    flex-basis: 1350px;
  }
  .section2 figure img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  /* SECTION 3 */
  
  
  /* SECTION 4 */
  .section4 {
    color: #fff;
    margin: 6rem 8rem 4rem 8rem;
  }
  .s4_title {
    width: 50%;
  }
  .s4_container {
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .s4_item {
    flex-basis: 200px;
    margin: 0 3rem 0 3rem;
  }
  .s4_item h5 {
    color: #000;
  }
  .s4_item p {
    color: rgb(255, 255, 255);
  }
  .s4_item figure {
    width: 200px;
  }
  .s4_item figure img {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    width: 100%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
  
  /* SECTION 5 */
  .section5 {
    margin: 5rem 0 0 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .s5_text {
    color: #fff;
    width: 50%;
    text-align: center;
  }
  .s5_container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
  }
  .client {
    
  }