.nav {
  display: none;
}


@media (max-width: 768px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px 10px 10px;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  
  .logo {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  
  .burgerButton {
    display: none;
  }
  
  .burger {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    transition-duration: .25s;
  }
  
  .menuItem {
    display: block;
    padding: 10px 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
  }
  
  .menuItem a {
    text-decoration: none;
    color: #333;
  }
  
  .menuItem i {
    margin-right: 0.5rem;
  }

  .burgerButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  .open {
    display: flex;
    transform: translateY(0%);
  }
}
