.body {
    background-color: #fc3c74;
  }
  
  /* SECTION 1 */
  .section1 {
    padding-bottom: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .imageS1 {
  }
  .text_s1 {
    width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .text_s1 h1 {
    color: #fff;
    margin: 0;
    text-align: start;
    font-size: 4.5rem;
    font-weight: bold;
  }
  .text_s1 p {
    color: #fff;
    width: 90%;
    margin: 0;
  }
  
  /* From uiverse.io by @adamgiebl */
  .buttonS1 {
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
    color: #fc3c74;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .buttonS1 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .buttonS1 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .buttonS1:hover .svgWrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .buttonS1:hover svg {
    color: #fc3c74;
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .buttonS1:hover span {
    color: #fc3c74;
    transform: translateX(5em);
   }
   
   .buttonS1:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   } 
  
  /* SECTION 2 */
  .section2 {
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  /* MAP */
  .map {
    width: 700px;
    height: 500px;
  }
  /* INFO */
  .info {
    color: rgb(255, 255, 255);
    width: 350px;
    padding: 0rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
  .info h3 {
    font-size: 2.5rem;
  }
  .info a {
    color: #fff;
  }
  .info a:hover {
    color: #000;
  }
  
  /* SECTION 3 */
  .section3 {
    height: 700px;
    padding: 6rem 0 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  /* FORM */
  .contact_form {
    flex-basis: 550px;
    padding: 1.5em;
    border-radius: 25px;
    display: flex;
  }
  
  @media only screen and (max-width: 414px){
    .map {
      width: 80%;
      height: 400px;
    }
   }