.body {
  background-image: linear-gradient(45deg, #acacac 0%, #ffffff 100%);
}
/* SECTION 1 */
.section1 {
  height: 550px;
  margin: 1rem 0 10rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/*.section1:before {
  content: "";
  width: 100%;
  height: 550px;
  position: absolute;
  /*background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.607) 60%
  );
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.61) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}*/

.videoBackground {
  z-index: 1; /* Place the video background behind other content */
  overflow: hidden;
}

.videoBackground video {
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}


/* SECTION 2 */
.publicaciones {
  padding: 6rem 6rem 0 6rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

.publicaciones h2 {
  font-size: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.libro1 {
  width: 30rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
}

.libro1img {
  border: 2px solid #000;
}

.libro1 h3 {
  font-size: 1.3rem;
  text-align: center;
}

/* COMENTARIOS */
.comentarios {
  width: 35rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 2rem;
}

.comentario {
  background-color: #fff;
  width: 15rem;
  margin-left: 10rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
}
.comentario:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: scale(1.1);
  transition: all 0.5s ease;

}
.comentario2 {
  background-color: #fff;
  width: 15rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
}
.comentario2:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.comentario3 {
  background-color: #fff;
  width: 15rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
}
.comentario3:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.comentario4 {
  background-color: #fff;
  width: 15rem;
  margin-left: 10rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
}
.comentario4:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.publi {
  
}

.extras {
  width: 100%;
}



@media only screen and (max-width: 450px) {
  .section1 {
    height: 100%;
    margin: 1rem 0 5rem 0;
    z-index: 1;
  }
  .videoBackground video {
    width: 100vw;
    object-fit: cover; /* Ensure the video covers the entire container */
  }

  .publicaciones {
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }
  
  .container {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  
  .libro1 {
    width: 25rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
  }
  
  .libro1img {
    border: 2px solid #000;
  }
  
  .libro1 h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  /* COMENTARIOS */
  .comentarios {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
  }
  
  .comentario {
    background-color: #fff;
    width: 10rem;
    margin-left: 0;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  .comentario:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1);
    transition: all 0.5s ease;
  
  }
  .comentario2 {
    background-color: #fff;
    width: 15rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  .comentario2:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  
  .comentario3 {
    background-color: #fff;
    width: 15rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  .comentario3:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  
  .comentario4 {
    background-color: #fff;
    width: 15rem;
    margin-left: 0;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  .comentario4:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

}
