.body {
    background-color: #fc3c74;
  }
  .productList {
    margin: 0 6rem;
    flex-basis: 949px;
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3rem;
  }
  /* CART */
  .cart {
    background-color: #39cc58;
    width: 5rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 5rem;
  }
  .cart:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
  .cart i {
    color: aliceblue;
    padding: 0.5rem;
    font-size: 3rem;
    border-radius: 50%;
  }
  .cart2 {
    display: none;
  }