.product {
    background-color: #ECECEC;
    color: rgb(255, 255, 255);
    border-radius: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .figure {
    width: 70px;
    height: 50px;
    margin: 0;
  }
  .figure img {
    width: 100%;
    height: 100%;
    border-radius: 35px 0 0 35px;
    object-fit: cover;
    object-position: center;
  }
  .name {
    color: black;
    margin: 0 5px 0 5px;
  }
  .button {
    background-color: rgba(0, 0, 0, 0);
    color: red;
    margin: 0 10px 0 0;
    border: 0;
    font-size: 1.4rem;
  }
  