/* NO MODAL */
.productForm2 {
    display: none;
  }
  /* MODAL */
  .productForm {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: #fff;
    width: 1000px;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    /* ANIMATION */
    animation: PopUp 1s;
  }
  @keyframes PopUp {
    0%{
      transform: scale(0.8);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .title_container h2 {
    color: #000;
    text-align: center;
    flex-basis: auto;
  }
  .title_container button {
    background-color: #ffffff00;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    position: relative;
    bottom: 0.8rem;
    right: -0.8rem;
  }
  .title_container button i {
    color: rgb(22, 22, 22);
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 50%;
  }
  .title_container button i:hover {
    color: rgb(236, 16, 16);
  }
  .products {
    width: 550px;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
  }
  .form {
    padding: 1rem;
    color: #000;
    width: 390px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
  }
  .form div input,
  .form div textarea {
    background: none;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 0.7em;
    border: none;
    outline: 0;
    border-bottom: 1px solid #000;
    resize: none;
  }
  .name {
    flex-basis: 12rem;
  }
  .phone {
    flex-basis: 9rem;
  }
  .email {
    padding: 0;
    margin: 0;
    flex-basis: 100%;
  }
  .message {
    flex-basis: 100%;
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }
  /* From uiverse.io */
  /* BUTTON SEND */
  .send {
    padding: 1.3em 3em;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .send:hover {
    background-color: #39cc58;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }
  .send:active {
    transform: translateY(-1px);
  }
  /* BUTTON CANCEL */
  .cancel {
    padding: 1.3em 3em;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .cancel:hover {
    background-color: #d33030;
    box-shadow: 0px 15px 20px rgba(211, 57, 57, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }
  .cancel:active {
    transform: translateY(-1px);
  }
  
  .input {
    display: none;
  }
  
  @media only screen and (max-width: 450px) {
    .container {
      background-color: #fff;
      width: 95%;
      padding: 25px;
      border-radius: 25px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
      /* ANIMATION */
      animation: PopUp 1s;
    }
    .products {
      display: none;
    }
    .name {
      flex-basis: 139px;
    }
    .phone {
      flex-basis: 105px;
    }
    .email {
      padding: 0;
      margin: 0;
      flex-basis: 99%;
    }
    .message {
      flex-basis: 99%;
    }
    .send {
      padding: 1.3em 2em;
    }
    .cancel {
      padding: 1.3em 2em;
    }
  }