.body {
  background-image: linear-gradient(45deg, #acacac 0%, #ffffff 100%);
}
.section1 {
  height: 550px;
  margin: 1rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.section1:before {
  content: "";
  width: 100%;
  height: 550px;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.607) 60%
  );
  /*background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.726) 35%,
      rgba(0, 0, 0, 0) 100%
    );*/
  z-index: 1;
}

.imageS1 {
  width: 100vw;
  z-index: 0;
}

.text1_a1_s1 {
  color: rgb(255, 255, 255);
  width: 40%;
  height: 550px;
  margin-right: 10rem;
  font-family: "papyrus";
  text-align: end;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
}

.text1_a1_s1 h1 {
  font-size: 1.1rem;
  width: 100%;
  margin-top: 5rem;
  text-align: end;
}

.poema {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.text1_a1_s1 h2 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.text1_a1_s1 p {
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
}

/* From uiverse.io */
.text1_a1_s1 a {
  margin-bottom: 2rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.116);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.text1_a1_s1 a:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.116);
  color: #000;
  transform: translateY(-7px);
}

.text1_a1_s1 a:active {
  transform: translateY(-1px);
}

/* SECTION 2 */
.section2 {
  padding: 4rem 6rem 6rem 6rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.title h2 {
  text-align: center;
  font-weight: 500;
}

.description {
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
}

.description p {
  color: #000;
  align-items: center;
}


@media only screen and (max-width: 450px) {
  .section2 {
    padding: 0;
  }
  .title{
    width: 75%;
  }
  .description {
    width: 75%;
  }
}
