.body {
  background-image: linear-gradient(45deg, #acacac 0%, #ffffff 100%);
  }
  /* Section main */

.sectionMain {
  width: 100%;
  padding: 6rem 6rem 6rem 6rem;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
}

.photo {
}

.text {
  width: 30rem;
  text-align: end;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 2rem;
}

.text h1 {
  width: 100%;
  font-size: 4rem;
}

.text p {
  width: 100%;
}

.text button {
    color: #000;
  font-size: 2rem;
}