.body {
  background-image: linear-gradient(45deg, #acacac 0%, #ffffff 100%);
}
/* Section main */
.sectionMain {
  width: 100%;
  padding: 6rem 6rem 6rem 6rem;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.column1 {
  width: 50%;
}

.column2 {
  width: 50%;
}

.photo {
}

.text {
  width: 100%;
  text-align: start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 2rem;
}

.text h1 {
  width: 100%;
  font-size: 3rem;
}

.text p {
  width: 100%;
}

.text button {
  color: #000;
  font-size: 2rem;
}

.text2 {
  width: 100%;
  text-align: start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 2rem;
}

.text2 h1 {
  width: 100%;
  font-size: 4rem;
}

.text2 p {
  width: 100%;
}

/* SECTION 2 */
.section2 {
  width: 100%;
  padding: 2rem 6rem 6rem 6rem;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
}

.carrusel2 {
  width: 30rem;
  height: 30rem;
}


